fastapi[standard]
uvicorn
Jinja2
youtube-transcript-api
requests
slowapi
pydantic
limits
# [ MEMBRO 3 - BLOCO 3 ]: Para criar e configurar o Banco de Dados (Cards e Decks), será necessária mais uma biblioteca para o projeto, a SQLModel:
sqlmodel
