<div id="video">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="YouTube Logo">
</div> 

<div id="legenda">
    REVISAO        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.           
</div>

<button id="gravar">
    &#127908 Gravar
</button>

<div id="botoes">
    <button id="dificil">Difícil</button>
    <button id="medio">Médio</button>
    <button id="facil">Fácil</button>
</div>

<button id="excluir">Excluir &#128465</button>

<div id="transcricao">Isso é pra depois </div> 