<!-- mudei id pra player -->
<div id="player"></div> 

<div id="legenda">
        {{legenda}}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
</div>

<!-- 0-ALTERACAO-0: Removido o onclick obsoleto do Membro 1 -->
<button id="gravar">
    &#127908 Gravar
</button>

<div id="botoes">
    <button id="anterior">Frase anterior</button>
    <button id="proximo">Próxima frase</button>
</div>

<!-- voz em ondas e transcrição escondidas -->
 
<div id="panel" class="hidden">
    <canvas id="wave" width="700" height="120"></canvas>
    <div id="transcript">Fale algo...</div>
</div>