<!DOCTYPE html>
<html lang="pt-br">
    <head>
         <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/style.css">
        
        <script src="https://www.youtube.com/iframe_api" defer></script> 
        <script src="/static/js/player.js" defer></script>
        <script src="/static/js/voice.js" defer></script>
        <script src="/static/js/integracao.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>projeto</title>
    </head>
    <body>
        <header>
            <h1>Shadow</h1>
            <div id="token-container">
                <span id="token-label">Tokens</span>
                <div id="token-count">
                    5
                </div>
            </div>
            <button hx-get="/revisao" hx-target="main">pagina 3</button>
        </header>

       <main hx-get="{{pagina}}"
              hx-target="main"
              hx-trigger="load">
        </main>

        <script>
            document.body.addEventListener('htmx:afterSettle', function(evt) {
                if (document.getElementById('player')) {
                    const parametrosDaURL = new URLSearchParams(window.location.search);
                    const link = parametrosDaURL.get('link');
                    
                    if (link) {
                        iniciarSessao(link);
                    }
                    
                    // Reatribui o evento de clique ao botão de gravar que acabou de ser injetado
                    const micBtn = document.getElementById("gravar");
                    if(micBtn) micBtn.addEventListener("click", startRecording);
                }
            });
        </script>
        <script>
        // Uma nova função para sincronizar o contador do Token Bucket:
            function sincronizarContadorHome() {
                const saldoSalvo = localStorage.getItem('tokens_restantes');
                const el = document.getElementById('token-count');
            
                if (saldoSalvo !== null && el) {
                    el.innerText = saldoSalvo;
                    if (parseInt(saldoSalvo) === 0) {
                        el.classList.add('token-low');
                    }
                }
            }

        // Executa ao carregar a página
            sincronizarContadorHome();

        // Ouvinte para o HTMX: toda vez que ele trocar o conteúdo, 
        // garantimos que o contador continue certo
            document.body.addEventListener('htmx:afterSettle', sincronizarContadorHome);
        </script>
    </body>
</html>
